:root {
    --fontInter: 'Inter', sans-serif;
    --fontMontserrat: 'Montserrat', sans-serif;
    --mainTextColor: #E4E5EA;
    --secondTextColor: #656566;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}

body {
    background: #0E1014;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a, a:visited{
	text-decoration: none;
}

ul, ol, li{
	list-style: none;
}

.container {
    max-width: 1140px;
	margin:  0 auto;
}

/* header */

.header {
    position: absolute;
    width: 100%;
}

.header__container {
    display: flex;
    margin-top: 46px;
    padding-top: 11px;
}

.header__logo {
    margin-right: 52px;
}

.header__logo-text {
    font-family: var(--fontMontserrat);
    color: var(--mainTextColor);
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 10px;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.header__nav-link {
    font-family: var(--fontInter);
    color: var(--mainTextColor);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__contacts {
    display: flex;
    gap: 47px;
    margin-left: auto;
}

.header__phone {
    color: var(--mainTextColor);
    font-family: var(--fontInter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__social {
    display: flex;
    gap: 30px;
}

/* main */

.main {
    overflow: hidden;
}

.welcome__container {
    position: relative;
}

.welcome__content {
    display: flex;
    justify-content: space-between;
    padding-top: 209px;
    position: relative;
}

.welcome__left-title {
    color: var(--mainTextColor);
    font-family: var(--fontInter);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome__left-welbex {
    background: linear-gradient(90deg, #FCB045, #FF3F78);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.welcome__left-subtitle {
    color: var(--mainTextColor);
    font-family: var(--fontMontserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.welcome__right-title {
    color: var(--mainTextColor);
    text-align: right;
    font-family: var(--fontInter);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.welcome__right-freecons {
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.welcome__right-freecons2{
    background: linear-gradient(90deg, #FCB045 36.99%, #fd821d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.welcome__right-row {
    display: flex;
    gap: 30px;
    justify-content: right;
    margin-bottom: 30px;
}

.welcome__right-gifts-mobile {
    display: none;
}

.welcome__right-item_name {
    color: var(--mainTextColor);
    text-align: right;
    font-family: var(--fontInter);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.welcome__right-item_description {
    color: var(--mainTextColor);
    text-align: right;
    font-family: var(--fontMontserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome__right-button__block {
    display: flex;
    justify-content: right;
    padding: 31px 0;
}

.welcome__right-button {
    width: 262px;
    height: 61px;
    flex-shrink: 0;
    background: #4077F3;
    color: var(--mainTextColor);
    text-align: center;
    font-family: var(--fontInter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.welcome__background {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
}

.flash-purple {
    position: absolute;
    left: 452px;
    top: -154px;
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;
    opacity: 0.5;
    background: #833AB4;
    filter: blur(196px);
}

.sphere-purpel {
    position: absolute;
    left: 702px;
    top: 0;
    fill: radial-gradient(82.30% 82.30% at 27.25% 26.50%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
    filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
    backdrop-filter: blur(2px);
}

.sphere-burgundy {
    position: absolute;
    left: 369px;
    top: 83px;
    fill: radial-gradient(82.30% 82.30% at 27.25% 26.50%, rgba(255, 208, 208, 0.54) 0%, rgba(212, 93, 93, 0.26) 59.67%, rgba(167, 49, 49, 0.25) 78.59%, rgba(130, 25, 25, 0.25) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
    backdrop-filter: blur(2px);
}

.flash-burgundy {
    position: absolute;
    left: -200px;
    top: 251px;
    width: 311px;
    height: 311px;
    flex-shrink: 0;
    border-radius: 311px;
    opacity: 0.5;
    background: #961A1A;
    filter: blur(196px);
}

.sphere-brown {
    position: absolute;
    left: 710px;
    top: 516px;
    fill: radial-gradient(82.30% 82.30% at 27.25% 26.50%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.25) 59.67%, rgba(167, 49, 49, 0.26) 78.59%, rgba(130, 25, 25, 0.23) 100%);
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);
    backdrop-filter: blur(2px);
}

/* footer */

.footer {
    height: 315px;
    margin-top: auto;
}

.footer__container {
    display: flex;
    padding-top: 55px;
    padding-bottom: 20px;
}

.footer__about-company {
    margin-right: 98px;
}

.footer__cols {
    display: flex;
    gap: 52px;
}

.footer__title {
    color: var(--secondTextColor);
    font-family: var(--fontInter);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__link {
    display: block;
    color: var(--mainTextColor);
    font-family: var(--fontInter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.footer__contacts {
    margin-left: auto;
}

.footer__contacts-title {
    text-align: right;
}

.footer__phone {
    color: var(--mainTextColor);
    text-align: right;
    font-family: var(--fontInter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 21px;
}

.footer__social {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 19px;
}

.footer__address {
    color: var(--mainTextColor);
    text-align: right;
    font-family: var(--fontInter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 70px;
}

.footer_law {
    color: var(--mainTextColor);
    text-align: right;
    font-family: var(--fontMontserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__privacy-policy {
    text-decoration-line: underline;
}

/* mobile */

@media screen and (max-width: 520px) {

    .container {
        max-width: 310px;
        margin:  0 auto;
        padding-left: 15px;
    }

    .header {
        position: relative;
        z-index: 10;
        width: 100%;
        background: black;
        height: 55px;
    }

    .header__container {
        margin-top: 0;
        padding: 20px 15px;
    }

    .header__logo,  .header__contacts, .header__nav-item:last-child{
        display: none;
    }

    .header__nav-list {
        gap: 16px;
    }

    .header__nav-link {
        font-size: 12px;
        text-transform: uppercase;
    }

    .welcome__content {
        display: block;
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .welcome__left-title {
        font-size: 36px;
    }

    .welcome__left-welbex {
        font-size: 36px;
    }

    .welcome__left-subtitle {
        margin-top: 15px;
        margin-bottom: 45px;
    }

    .welcome__right-title {
        text-align: left;
        margin-bottom: 20px;
    }

    .welcome__right-freecons {
        text-transform: lowercase;
    }

    .welcome__right-gifts {
        display: none;
    }

    .welcome__right-gifts-mobile {
        display: block;
    }

    .welcome__right-row {
        gap: 10px;
        justify-content: left;
        margin-bottom: 30px;
    }

    .welcome__right-col {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 50%;
    }

    .welcome__right-item_line {
        width: 10px;
        height: 1px;
        background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    }

    .welcome__right-item_name {
        font-family: var(--fontMontserrat);
        text-align: left;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .welcome__right-item_description, .welcome__right-button__block, .sphere-burgundy {
        display: none;
    }

    .sphere-purpel {
        left: 300px;
        top: 230px;
    }

    .sphere-brown {
        left: 10px;
        top: 420px;
    }

    .flash-purple {
        left: 320px;
        top: 120px;
    }

    .footer {
        height: 570px;
    }
    

    .footer__container {
        display: block;
        padding-top: 45px;
        padding-bottom: 60px;
    }

    .footer__about-company {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer__cols {
        gap: 48px;
    }

    .footer__title {
        font-size: 12px;
        letter-spacing: 0.6px;
    }

    .footer__link {
        font-size: 14px;
    }

    .footer__menu {
        margin-bottom: 30px;
    }

    .footer__contacts {
        margin-left: 0;
    }

    .footer__contacts-title {
        text-align: left;
    }

    .footer__phone {
        text-align: left;
        margin-bottom: 8px;
    }

    .footer__social {
        justify-content: left;
        margin-bottom: 10px;
    }

    .footer__address {
        text-align: left;
        font-size: 14px;
        margin-bottom: 50px;
    }

    .footer_law {
        text-align: left;
    }

}